@section Scripts {
	<script type="text/javascript" src="~/js/go.js"></script>
	<script type="text/javascript" src="~/js/DataInspector.js"></script>
	<script type="text/javascript" src="~/js/Figures.js"></script>
	<script type="text/javascript" src="~/js/RealtimeDragSelectingTool.js"></script>
	<environment include="Development">
		<script type="text/javascript" src="~/js/ivrdata.js" asp-append-version="true"></script>
		<script type="text/javascript" src="~/js/ivr.js" asp-append-version="true"></script>
	</environment>
	<environment exclude="Development">
		<script type="text/javascript" src="~/js/ivrdata.js"></script>
		<script type="text/javascript" src="~/js/ivr.js"></script>
	</environment>
}

@section Styles {
	<link rel="stylesheet" href="~/css/ivr.css" />
	<link rel="stylesheet" href="~/css/DataInspector.css" />
}

<h1>@ViewData["Title"]</h1>

<div id="sample">

	<div id="myDiagramDiv" style="border: solid 1px black; width: 100%; height: 640px;"></div>
	<div style="display: inline-block; margin: 1rem 0 0 0;">
		<div style="float: left;">
			<button type="button" id="SaveButton" class="btn btn-sm btn-primary btn.disabled mr-2" onclick="doSave();">Save</button>
			<button type="button" id="DownloadImageButton" class="btn btn-sm btn-primary mr-2" 
			        onclick="doDownloadImage();"
			        data-toggle="tooltip" data-trigger="hover" data-placement="auto"
			        title="Click to download an image of the diagram above to your device as type 'png'."
			>Download Image</button>
			<input type="checkbox" id="enableTooltips" name="enableTooltips" checked class="mb-1" 
			       onclick="enableTooltips(this);">
			<label for="enableTooltips"
			       data-toggle="tooltip" data-trigger="hover" data-placement="auto"
			       title="Checked indicates that a tooltip will be shown when the mouse is hovered over certain controls; otherwise no tooltip will be shown.">
			       Enable Tooltips</label>
		</div>
		<div name="slider" style="float: left; margin: 0 0 0 3rem;">
			<div style="float: left;">
				<label for="scaleSlider" style="margin: 4px 6px 0 0;">Scale:</label>
			</div>
			<div style="float: left; width: 150px; margin: 4px 3px 0 0">
				<input type="range" id="scaleSlider" class="slider" min="0.25" max="5" step="0.25" value="1"
					   style="border: thin solid black;"
					   data-toggle="tooltip" data-trigger="hover" data-placement="auto"
					   title="Drag the slider button to the right or to the left to increase or decrease the scale." />
			</div>
			<div style="float: left;">
				<input type="number" id="scaleField" name="scale" min="0.25" max="5" step="0.25" value="1"
					   style="width: 3.75rem; margin: 2px 4px 0 0;"
					   onkeypress="handleScaleKeyPress(event)"
					   data-toggle="tooltip" data-trigger="hover" data-placement="auto"
					   title="Click the up or down arrowKey to increase or decrease the scale, or just enter the value directly into this field."
					   onclick="doScale();" />
			</div>
			<div style="float: left;">
				<button type="button" id="AutoFitButton" class="btn btn-sm btn-primary" style="margin-top: 1px;"
						data-toggle="tooltip" data-trigger="hover" data-placement="auto"
						title="Click to auto fit the full contents of the diagram into the view port."
						onclick="doAutoFit();">
					Auto
				</button>
			</div>
		</div>
		<div name="selectNode" style="float: left; margin: 0 0 0 3rem;">
			<label for="keyField">Select node with key:</label>
			<input type="number" id="keyField" name="key" min="1" max="32" value="1" style="width: 2.75rem;"
				   onkeypress="handleKeyKeyPress(event)"
				   data-toggle="tooltip" data-trigger="hover" data-placement="auto"
				   title="Click the up or down arrowKey to increment or decrement the key value to select a node, or just enter the key value directly into this field." />
			<button type="button" id="SelectButton" class="btn btn-sm btn-primary" style="margin-bottom: 4px;" onclick="doSelect();">Select</button>
		</div>
		<div style="clear: both"></div>
	</div>
	<div style="display: inline-block; margin-top: 1rem; font-size: .75rem; font-weight: 700; width: 100%;">
		<label id="eventLabel" style="float: left;"></label>
		<pre id="outputLabel" style="float: left; margin-left: .25rem"></pre>
	</div>
</div>
