
@section Scripts {
	<script type="text/javascript" src="~/js/go.js"></script>
	<script type="text/javascript" src="~/js/Figures.js"></script>
	<environment include="Development">
		<script type="text/javascript" src="~/js/sampleshapes.js" asp-append-version="true"></script>
	</environment>
	<environment exclude="Development">
		<script type="text/javascript" src="~/js/sampleshapes.js"></script>
	</environment>
}

<h1>@ViewData["Title"]</h1>

<div id="sample">
	<div id="myDiagramDiv" style="border: solid 1px black; height:600px"></div>
	<p>
		This sample showcases all predefined <b>GoJS</b> figures.
		This sample also makes use of <a href="https://gojs.net/latest/intro/highlighting.html">GoJS Highlighting</a> data bindings: Mouse-hover over a shape to see its name.
	</p>
	<p>
		You can specify a predefined geometry for a <a>Shape</a> by setting its <a>Shape.figure</a>.
	</p>
	<p>
		<strong>As of 2.0:</strong> In order to shrink the size of the GoJS library we no longer define most predefined figures in the library.
		Instead, you can find all of their definitions in the <a href="https://gojs.net/latest/extensions/Figures.js" target="_blank">Figures.js</a> file.
		You can load this file or simply load only those figures that you want to use by copying their definitions into your code.
	</p>
	<p>
		A number of very common figures remain predefined in version 2.0.
		The figures that remain in 2.0 are: <code>"Rectangle", "Square", "RoundedRectangle", "Border", "Ellipse", "Circle", "TriangleRight",
			"TriangleDown", "TriangleLeft", "TriangleUp", "Triangle", "Diamond", "LineH", "LineV", "BarH", "BarV", "MinusLine", "PlusLine", "XLine"</code>.
		These figures are filled green above, instead of pink.
	</p>
	<p>
		With GoJS you can also define your own custom shapes with SVG-like path syntax, see the <a href="https://gojs.net/latest/samples/icons.html">SVG icons</a>
		sample for examples or the <a href="https://gojs.net/latest/intro/geometry.html">Geometry Path Strings intro page</a> to learn more.
	</p>
	<p>
		For predefined arrowheads, see the <a href="https://gojs.net/latest/samples/arrowheads.html">Arrowheads</a> sample.
	</p>
</div>
